:root{
    --headings: 48px;
    --main-text: 36px;
    --desc: 32px;
}
*{
    box-sizing: border-box;
    margin:0px;
    cursor: default;
    color: white;
    font-family: 'Iceland', cursive;
}
.text-center{
    text-align: center;
}
.flex{
    display: flex;
}
.flex-a-center{
    display: flex;
    align-items: center;
}
.col{
    flex-direction: column;
}
.center{
    justify-content: center;
}
.even{
    justify-content: space-evenly;
}
.around{
    justify-content: space-around;
}
.end{
    justify-content: flex-end;
}
.navigation-line{
    height: 40px;
    width: 100vh;
    background-color: transparent;
    position: fixed;
    transform: translateY(-10vh) rotate(90deg);
    transform-origin: -10px 7vh;
}
.slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vh;
}
.thumb:checked{
    background-color: white !important;
}
.thumb {
    height: 20px;
    cursor: pointer;
    width: 20px;
    -webkit-appearance: none;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    background-clip: text;
    border: 2px solid white;
}
.thumb-line{
    background-color: white;
    width: calc(12vh - 20px);
    padding:0px 20px;
    height: 1px !important;
    color: red;
}
.thumb:nth-child(5)::after{
    display:none;
}
.content{
    background: linear-gradient(45deg, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.5)), url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 20px 20px 40px;
    height: 100vh;
    max-height: 550px;
    width: 100vw;
}
.head{
    font-size:var(--headings);
    padding: 20px 0px;
}
.about{
    height: fit-content;
}
.image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.name{
    margin: 20px 0px;
    font-size: var(--main-text);
}
.profile{
    height: fit-content;
}
.description{
    width: 60vw;
    font-size: var(--desc);
}
.sub-heading{
    margin: 10px !important;
}
.touch{
    font-size: var(--main-text);
}
.icons{
    padding: 0px 5vw;
}
.icons a{
    text-decoration: none;
}
.icons img{
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
}
.container{
    background-color: #001c4a;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 50px;
}
.container p{
    font-size: var(--desc);
}
#game-screen input{
    color: black !important;
}
.skills{
    background: linear-gradient(0deg, #216af9, #001c4a);
}
.skill-list{
    width: 100%;
    font-size: var(--desc);
    padding: 20px 40px;
    flex-wrap: wrap;
}
.skill-list li{
    list-style: none;
    width:fit-content;
    color: black;
    background-color: rgba(255,255,255,1);
    border-radius: 25px;
    padding: 5px 10px;
    margin: 5px 10px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4),
        inset -2px -2px 4px rgba(0,0,0,0.4) ;
}
.projects{
    background: #216AF9;
}
.cards{
    flex-wrap: wrap;
    padding: 0px 20px 0px 40px;
}
.card{
    min-width:250px !important;
    max-width: 400px; 
    background-color: rgba(255,255,255,0.1);
    box-shadow: inset -3px -3px 50px rgba(255,255,255,0.2),
        -3px -3px 5px rgba(0,0,0,0.2),
        3px 3px 5px rgba(0,0,0,0.2),
        inset 3px 3px 50px rgba(255,255,255,0.2);
    padding: 20px 20px;
    margin: 20px 20px;
    height:400px;
    border-radius: 10px;
}

.card img{
    width: 200px;
    height: 150px;
}
.card span{
    font-size: var(--desc);
}
.buttons{
    width: 100%;
}
button{
    cursor: pointer;
    border: none;
    padding: 5px 5px;
    border-radius: 2px;
    width: 100px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}
.preview{
    background-color: rgb(0,185,0);
}
.live{
    background-color:#1859E5;
}
.contact{
    background-color: #216af9;
    height: fit-content;
    padding: 20px;
}
.contact h3{
    font-size: var(--headings);
    width:100vw;
}
.form{
    width: 80vw;
    font-size: var(--main-text);
    background-color: white;
    max-width: 400px;
    box-shadow: 1px 1px 5px black;
    height: fit-content;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}
.form *{
    color:black;
}
.form input{
    cursor: text;
    width: 70%;
    outline: none;
    margin: 10px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.form #message{
    height: fit-content;
    text-overflow: ellipsis;
}
.form button{
    margin: 10px 0px;
    color: white;
}
.likes{
    margin: 5px;
}
.likes *{
    margin: 0px 10px;
}


@media (max-width : 768px) and (min-width: 550px){
    :root{
        --main-text: 30px;
        --headings: 36px;
        --desc: 22px;
    }
    .image{
        height: 150px;
        width: 150px;
    }
}
@media (max-width : 560px){
    :root{
        --headings: 28px;
        --main-text: 22px;
        --desc: 18px;
    }
    .about{
        flex-direction: column;
        height: fit-content;
    }
    .image{
        height: 100px;
        width: 100px;
    }
    .description{
        text-align: center;
        width: 70vw;
    }
    .touch{
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
    }
    .icons img{
        width: 30px;
        height: 30px;
    }
}