:root{
    --headings: 48px;
    --main-text: 36px;
}
*{
    box-sizing: border-box;
    margin:0px;
    cursor: default;
    font-family: 'Iceland', cursive;
}
.navigation-line{
    position: absolute;
    display: none;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(to right, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.5)), url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    height: 100vh;
    color: white;
    max-height: 550px;
    width: 100vw;
}
.heading{
    font-size: var(--headings) !important; 
    text-align: center;
}
.about{
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.name{
    margin: 20px 0px;
    font-size: var(--main-text);
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}
.description{
    width: 60vw;
    font-size: 32px;
}
.touch{
    display: flex;
    font-size: var(--main-text);
    justify-content: flex-end;
}
.icons{
    padding: 0px 5vw;
}
.icons a{
    text-decoration: none;
}
.icons img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.skills{
    background: linear-gradient(45deg, #003576,#00204d, #001222);
}
.skill-head{
    color: white;
    font-size:var(--headings);
    background-color: transparent;
    text-align: center;
    padding: 20px 0px;
}
.skill-list{
    width: 100%;
    display: flex;
    font-size: var(--main-text);
    padding: 20px 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.skill-list li{
    list-style: none;
    width:fit-content;
    background-color: rgba(255,255,255,1);
    border-radius: 25px;
    padding: 5px 10px;
    margin: 5px 10px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4),
        inset -2px -2px 4px rgba(0,0,0,0.4) ;
}
.projects, .contact{
    position: absolute;
    top:1000px;
}


@media (max-width : 768px) and (min-width: 550px){
    :root{
        --main-text: 30px;
        --headings: 36px;
    }
    .image{
        height: 150px;
        width: 150px;
    }
    .description{
        font-size: 22px;
    }
}
@media (max-width : 550px){
    :root{
        --headings: 28px;
        --main-text: 22px;
    }
    .about{
        flex-direction: column;
        height: fit-content;
    }
    .image{
        height: 100px;
        width: 100px;
    }
    .description{
        font-size: 18px;
        text-align: center;
    }
    .touch{
        justify-content: center;
        width: 100%;
    }
    .icons img{
        width: 25px;
        height: 25px;
    }
}